<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citywar | ایونت ها</title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/events.css">
</head>
<body>

        <header>  
            <nav>  
                <a href="index.html">Main Menu</a>
                <!-- <a href="profile.html">Profile</a> -->
                <a href="store.html">Back To Store</a>
            </nav>  
        </header> 



</body>
</html>