<!DOCTYPE html>  
<html lang="fa">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/public/css/styles.css">  
    <title>CityWar</title>  
</head>  
<body>  
    <header>  
        <h1>CityWar</h1>  
        <nav>  
            <a href="signup.html">ثبت نام</a>  
            <a href="login.html">ورود</a>  
            <a href="store.html">فروشگاه</a>  
        </nav>  
    </header>  
    
    <main>  
        <h2>معرفی</h2> 
        <p>با اولین و بزرگترین مجموعه سرور های سیتی وار آشنا شوید</p>
        <p>از طریق سرور های ما به راحتی کسب درآمد کنید</p> 
        <p>سرور CityWar بهترین تجربه را برای شما به ارمغان می‌آورد</p>
    </main>  
    <footer>  
        <p>&copy; 2025 CityWar</p>  
    </footer>  
    
    <script src="/public/js/scripts.js"></script>  
</body>  
</html>