<!DOCTYPE html>  
<html lang="fa">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/public/css/styles.css">  

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <title>CityWar</title>  
</head>  
<body>  
    <header>  
        <div class="header_main">
                <div class="header">
          <a href="./signup.html">signup</a>  
            <a href="./login.html">Login</a>
        </div>
        <div class="header">
        <h1>CityWar</h1>
        </div>
        </div>
        <nav>  
            <a href="./store.html">Store</a> 
            <a href="./Office.html">Office</a> 
            <a href="./">Investment</a>
        </nav>  
    </header>  

    <section id="containers1">
    <div class="container">  
        <h1>Advertise</h1>  
        <hr>
        <div class="articles-row" id="articlesRow">  
          <!-- مقالات با JS اضافه می شوند -->  
        </div>  
      </div>  
    </section>


    <div style="margin-top: 3em; margin-bottom: 1em; text-align: center;">
       <strong> <span style="color: #111; margin-top: 10em; margin-bottom: 10em; font-size: x-large;"> Articles </span> </strong>
    </div>
    <hr>
    <div id="title_label">

        
        <a href="#" class="items">
        <figure >
            
                <img src="/public/images/citywar-icon.jpg" alt="" class="items_img">
                <p class="items_title_EN"><strong>minecraft learn</strong></p>
                <figcaption class="items_caption_EN">can you learn "how to play minecraft"</figcaption>
            
        </figure>
        </a>

        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>
        
        
        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <!-- <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>


        <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a> -->

    </div>
      
    
    <footer>
    <main>  
        <h2>Introduce</h2> 
        <p>Meet the first and largest collection of CityWar servers.</p>
        <p>Easily earn money through our servers.</p> 
        <p>CityWar server brings you the best experience.</p>
    </main>  
        <p>&copy;2025 CityWar. All rights reserved.</p>
    </footer>


    <script src="/public/js/scripts.js"></script> 

    <script src="/public/js/scripts.js"></script>  
</body>  
</html>