<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citywar | Imvestment</title>
    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/investment.css">

</head>
<body>

    <header>  
        <h1>CityWar</h1>  
        <nav>  
            <a href="index.html">Main Menu</a>  
        </nav>  
    </header> 


    


    <footer>
        <p>&copy;2025 CityWar. All rights reserved.</p>
    </footer>


    <script src="/public/js/Office.js"></script>
    
</body>
</html>