<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityWar | Laws </title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/laws.css">

</head>
<body>
    
    <article>
        <ol>
            <li>روند خرید شما مانند خرید از فروشگاه های اینترنتی دیگر میباشد. یعنی شما بعد از افزودن محصول به سبد خرید و سپس پرداخت هزینه سفارش، سفارش شما ثبت میشود و در مدت زمان مشخص شده،انجام میشود</li>
            <li></li>
        </ol>
    </article>

</body>
</html>