<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityWar | Laws </title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/laws.css">

</head>
<body>
    
    <article>
        <ol>
            <li>Your purchase process is similar to shopping from other online stores. That is, after you add the product to the shopping cart and then pay for the order, your order will be registered and processed within the specified time period.</li>
            <li></li>
        </ol>
    </article>

</body>
</html>