<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityWar | ورود</title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>

    <article>

        <head>
            <p><strong><h1>CityWar Login</h1></strong></p>
        </head>

            <form action="profile.html" method="post">
    
                <figcaption>
                    <label for="Email"> Email:
                    <input type="email" name="Email" id="Email" placeholder="ایمیل">
                    </label>
                </figcaption>
    
                <figcaption>
                    <label for="PhoneNumber"> Phone Number:
                    <select name="Country" id="">
                        <ul>
                            <option value="select" selected disabled>Country</option>
                            <option value="Iran">Iran</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Germany">Germany</option>
                            <option value="Irland">Irland</option>
                            <option value="France">France</option>
                            <option value="American">American</option>
                            <option value="Russia">Russia</option>
                            <option value="India">India</option>
                        </ul>
                    </select>
                    <input type="tel" name="Phone number" id="PhoneNumber" placeholder="شماره همراه">
                    </label>
                </figcaption>
    
                <figcaption>
                    <label for="Username"> Username:
                    <input type="text" name="Username" id="Username" placeholder="In Server">
                    </label>
                </figcaption>
                
                <figcaption>
                    <label for="Password"> Password:
                    <input type="password" name="Password" id="Password" placeholder="پسورد">
                    </label>
                </figcaption>

                    <figcaption class="law-accept">
                        <label for="laws-accepting">
                            <p class="laws">تمام <a href="./laws.html" target="_blank" class="link" style="font-size: x-large;">قوانین</a> را خوانده و تایید میکنم<input type="checkbox"
                                name="laws-accepting" id="laws-accepting"></p>
                        </label>
                    </figcaption>
    
                    <button type="submit" formaction="profile.html" formenctype="multipart/form-data"> Login </button>
    
            </figure>
    
            <p><a href="signup.html" class="link">Create account</a></p><p><a href="" class="link">Forget Password Or Account?</a></p><p><a href="index.html" class="link">Back To Home</a></p><p><a href="Connection.html" class="link">Connection With Site</a></p><p><a href="" class="link">Report Problems</a></p>
    
        </form>

    </article>
    
</body>
</html>