<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citywar | Office</title>

    <link rel="stylesheet" href="/public/css/Office.css">

</head>
<body>

    <header>  
        <h1>CityWar</h1>  
        <nav>  
            <a href="./index.html">Main Menu</a>
        </nav>  
    </header>



    <div id="title_label">
    <a href="">
        <figure class="items">
            
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
        </figure>
        </a>
    
    </div>

    <footer>
        <p>&copy;2025 CityWar. All rights reserved.</p>
    </footer>


    
</body>

</html>