<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citywar | Office</title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/Office.css">

</head>
<body>

    <header>  
        <div class="header_main">
        
            <div class="header">
                <h1>CityWar</h1>
            </div>
        
            <div class="header">
                <div class="search-box">
        
                    <form role="searchbox" method="get">
                        <search>
                            <label for="search">
                                <input type="search" name="Search" id="search" placeholder="Search" onkeyup="searchProducts(this)">
                                <button type="submit" role="search">🔄</button>
                            </label>
                        </search>
                    </form>
                </div>
            </div>

            <div class="header">
            <a href="./login.html">Login/Signup</a>
        </div>
        </div>

        <nav>  
            <a href="./index.html">Main Menu</a>
            <!-- <a href=""></a> -->

            
        </nav>  
    </header>


     


    <div id="title_label">

    <div class="selection" data-category="Real Estate">
    <a href="">
        <figure class="items">
            <img src="/public/images/Default_citywar_minecraft_server_NFT_2.jpg" alt="Real Estate" class="items_img">
            <p class="items_title_EN"><strong>Real Estate</strong></p>
            <figcaption class="items_caption_EN">Buy and sell real estate.</figcaption>
        </figure>
    </a>
    </div>

    <div class="selection" data-category="Job Search">
    <a href="">
        <figure class="items">
            <img src="/public/images/citywar-Job-finding.jpg" alt="Job Search" class="items_img">
            <p class="items_title_EN"><strong>Job Search</strong></p>
            <figcaption class="items_caption_EN">Find a good job or post a job ad.</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="Farming">
    <a href="">
        <figure class="items">
            <img src="/public/images/citywar-farming.jpg" alt="" class="items_img">
            <p class="items_title_EN"><strong>Farming</strong></p>
            <figcaption class="items_caption_EN">you can create a farm land in server.</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="NFT">
    <a href="">
        <figure class="items">
            <img src="/public/images/NFT-icon.jpg" alt="" class="items_img">
            <p class="items_title_EN"><strong>NFT</strong></p>
            <figcaption class="items_caption_EN">Get NFT Card And Trade With NFTs.</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="School">
    <a href="./School.html">
        <figure class="items">
            <img src="/public/images/Citywar-School.jpg" alt="" class="items_img">
            <p class="items_title_EN"><strong>School</strong></p>
            <figcaption class="items_caption_EN">Enroll in a training course at school and get a certificate.</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="">
    <a href="">
        <figure class="items">
            <img src="" alt="" class="items_img">
            <p class="items_title_EN"><strong></strong></p>
            <figcaption class="items_caption_EN"></figcaption>
        </figure>
    </a>
    </div>

    
    </div>

    <footer>
        <p>&copy;2025 CityWar. All rights reserved.</p>
    </footer>


    <script src="/public/js/Office.js"></script>
    
</body>

</html>