<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityWar | پروفایل</title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/profile.css">
</head>
<body>

    <header>

        <form action="login.html" method="get">
        
            <div class="options1">
                <input type="file" name="" id="">
                
            </div>
        
        </form>
        
    </header>
    
</body>
</html>