<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Citywar | Office-School</title>

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/School.css">

</head>
<body>

<header>  
        <div class="header_main">
        
            <div class="header">
                <h1>CityWar</h1>
            </div>
        
            <div class="header">
                <div class="search-box">
        
                    <form role="searchbox" method="get">
                        <search>
                            <label for="search">
                                <input type="search" name="Search" id="search" placeholder="Search" onkeyup="searchProducts(this)">
                                <button type="submit" role="search">🔄</button>
                            </label>
                        </search>
                    </form>
                </div>
            </div>

            <div class="header">
            <a href="./login.html">Login/Signup</a>
        </div>
        </div>

        <nav>  
            <a href="./index.html">Main Menu</a>
            <a href="./Office.html">Back To Office</a>

            
        </nav>  
    </header>


     


    <div id="title_label">

    <div class="selection" data-category="Chemistry: Potion Creation">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Chemistry-potion-creation.jpg" alt="Chemistry: Potion Creation" class="items_img">
            <p class="items_title_EN"><strong>Chemistry</strong></p>
            <figcaption class="items_caption_EN">Potion Creation</figcaption>
        </figure>
    </a>
    </div>

    <div class="selection" data-category="Chemistry: Color Creation">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Chemistry-Color-creation.jpg" alt="Chemistry: Color Creation" class="items_img">
            <p class="items_title_EN"><strong>Chemistry</strong></p>
            <figcaption class="items_caption_EN">Color Creation</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="Police I">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Police.jpg" alt="Police I" class="items_img">
            <p class="items_title_EN"><strong>Police I</strong></p>
            <figcaption class="items_caption_EN">Learn to Police Job Level.1</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="Guard: Main Guard">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Main-Guard.jpg" alt="Main Guard" class="items_img">
            <p class="items_title_EN"><strong>Guard</strong></p>
            <figcaption class="items_caption_EN">Main Guard Army</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="Guard: Sea Guard">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Sea-Guard.jpg" alt="Sea Guard" class="items_img">
            <p class="items_title_EN"><strong>Guard</strong></p>
            <figcaption class="items_caption_EN">Sea Guard Army</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection" data-category="Builder">
    <a href="">
        <figure class="items">
            <img src="/public/images/Citywar-Office-Builder.jpg" alt="Builder" class="items_img">
            <p class="items_title_EN"><strong>Builder</strong></p>
            <figcaption class="items_caption_EN">Build magnificent buildings and houses</figcaption>
        </figure>
    </a>
    </div>


    <div class="selection">
        <a href="">
            <figure class="items">
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
            </figure>
        </a>
    </div>


    <div class="selection">
        <a href="">
            <figure class="items">
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
            </figure>
        </a>
    </div>


    <div class="selection">
        <a href="">
            <figure class="items">
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
            </figure>
        </a>
    </div>


    <div class="selection">
        <a href="">
            <figure class="items">
                <img src="" alt="" class="items_img">
                <p class="items_title_EN"><strong></strong></p>
                <figcaption class="items_caption_EN"></figcaption>
            </figure>
        </a>
    </div>

    
    </div>

    <footer>
        <p>&copy;2025 CityWar. All rights reserved.</p>
    </footer>


    <script src="/public/js/School.js"></script>
    
</body>
</html>