<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/signup.css">
    <title> ثبت نام | Citywar </title>
</head>
<body>

    <article>

        <head>
            <p><strong><h1>CityWar Signup</h1></strong></p>
        </head>
        <figure>

    <form action="login.html">

            <figcaption>
                <label for="FirstName"> First Name:
                <input type="text" name="FirstName" id="FirstName" placeholder="نام">
                </label>
            </figcaption>

            <figcaption>
                <label for="LastName"> Last Name:
                <input type="text" name="LastName" id="LastName" placeholder="نام خانوادگی">
                </label>
            </figcaption>

            <figcaption>
                <label for="Email"> Email:
                <input type="email" name="Email" id="Email" placeholder="ایمیل">
                </label>
            </figcaption>

            <figcaption>
                <label for="PhoneNumber"> Phone Number:
                <select name="" id="">
                    <ul>
                        <option value="select" selected disabled>Country</option>
                        <option value="Iran">Iran</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Germany">Germany</option>
                        <option value="Irland">Irland</option>
                        <option value="France">France</option>
                        <option value="American">American</option>
                        <option value="Russia">Russia</option>
                        <option value="India">India</option>
                    </ul>
                </select>
                <input type="tel" name="Phone number" id="PhoneNumber" placeholder="شماره همراه">
                </label>
            </figcaption>

            <figcaption>
                <label for="Password"> Password:
                <input type="password" name="Password" id="Password" placeholder="پسورد">
                </label>
            </figcaption>

            <figcaption>
                <label for="Username"> Username:
                <input type="text" name="Username" id="Username" placeholder="In Server">
                </label>
            </figcaption>

            <figcaption>
                Gender:
                <label for="Male">
                    <p>Male<input type="radio" name="Gender" id="Gender-m" value="Male" checked \>
                </label>
                <label for="Female">
                    Female<input type="radio" name="Gender" id="Gender-w" value="Female">
                </label>
                </figcaption>

                <figcaption>
                    <label for="laws-accepting">
                        <p class="laws">تمام <a href="./laws.html" target="_blank" class="link" style="font-size: x-large;">قوانین</a> را خوانده و تایید میکنم<input type="checkbox"
                            name="laws-accepting" id="laws-accepting"></p>
                    </label>
                </figcaption>

                <button type="submit" formaction="login.html" formenctype="multipart/form-data"> Signup </button>

        </figure>

        <p><a href="login.html" class="link">Signin</a> </p><p><a href="index.html" class="link">Back To Home</a></p><p><a href="Connection.html" class="link">Connection With Site</a></p><p><a href="" class="link">Report Problems</a></p>

    </form>

    </article>


</body>
</html>