<!DOCTYPE html>  
<html lang="fa">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>مدیریت کیف پول</title>  

    <link rel="shortcut icon" href="/public/images/citywar-icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/wallet.css"> <!-- استایل‌های مشترک -->  
    <script src="scripts.js" defer></script>  
</head>  
<body>  
    <header>  
        <h1>Wallet</h1>  
        <nav>  
            <a href="index.html">Main Menu</a> <!-- لینک به صفحه اصلی -->  
            <a href="./store.html">Back To Store</a>
        </nav>  
    </header>  

    <main>  
        <section id="wallet-info">
            <article>
            <h2>Balance in dollars: </h2> <span id="wallet-dollar">0</span>
            <hr>
            </article>
            <article>  
            <h2>Wallet Balance:  </h2> <span id="wallet-balance">0</span> 
            <hr>
            </article>
            <input type="number" id="amount" placeholder="Charge Amount" />  
            <button onclick="chargeWallet()">Wallet Charge</button>
            <div id="message"></div>  
        </section>  
        <section id="transaction-history">  
            <h2>Transaction History</h2>  
            <ul id="transaction-list"></ul>  
        </section>  
    </main>  

    <script src="/public/js/store.js"></script>
</body>  
</html>