body{
    font-family: tahoma, sans-serif;
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}

header {  
    background: linear-gradient(to right, #1c1c1c, #444); 
    color: white;  
    padding: 20px;  
    text-align: center;  
    position: fixed;
    width: 100%; 
} 

nav {  
    margin: 10px 0;  
    display: flex;  
    gap: 7px; /* فاصله بین لینک‌ها */
}  

nav a {  
    color: white;  
    text-decoration: none;  /* حذف زیرخط لینک */
    margin: 0 15px;  
    transition: color 0.5s;  /* انیمیشن رنگ */ 
}

nav a:hover {  
    color: #ffa500; /* رنگ پررنگ هنگام هاور */  
} 