/* استایل پایه- عمومی */
body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    direction: rtl;
    color: #333;
}

button {
    transition: background-color 0.3s;
    width: 100%;
     padding: 12px;
      background: #30d773;
       color: white;
        border: none;
         border-radius: 5px;
          font-size: 16px;
           cursor: pointer;
}

button:hover {
    background-color: #26ad5c;
}

/* لینک‌ها */
.link {
    background-color: #30d773;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #26ad5c;
}