html{
  font-size: 100%;
}

body {  
    font-family: tahoma, sans-serif;
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}  

header {  
    color: white;  
    background: linear-gradient(to right, #1c1c1c, #444);
    padding: 1rem;  
    position: sticky;
    width: 100%;  
    z-index: 2;
    top: 0;
    box-sizing: border-box;
    font-size: 1rem;
}  

header .header_main span{
    font-weight: bold;
}

header h1 {  
    margin: 0; 
    display: flex;  
    gap: px; /* فاصله بین لینک‌ها */ 
}  

.header_main{
  text-align: end;
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
    align-items: center;
}

.header a{
  background-color: #30d773;
  padding: .25rem;
  border-radius: 5px;
  font-size: .9rem;
}

.header a:hover{
  color: #ffa500;
  background-color: #26ad5c;
  transition-duration: 0.5s;
}

header a{
  color: white;  
    text-decoration: none;  /* حذف زیرخط لینک */
    transition: color 0.5s;  /* انیمیشن رنگ */
    font-size: .9rem;
}

nav{
    margin: .6rem 0;  
    display: flex;  
    gap: 2px; /* فاصله بین لینک‌ها */
}

nav a {  
    color: white;  
    text-decoration: none;  /* حذف زیرخط لینک */
    margin: 0 10px;  
    transition: color 0.5s;  /* انیمیشن رنگ */  
}

nav a:hover {  
    color: #ffa500; /* رنگ پررنگ هنگام هاور */  
}  

footer{
    text-align: center;  
    padding: 10px;  
    background-color: #404040;  
    color: white;  
}


.search-box{
    text-align: center;
    /* padding-top: 10em; */
    /* margin-bottom: 3em; */
}

input#search{
    font-size: large;
    border-radius: 5px;
    width: 60%;
    background-origin: unset;
}

.search-box form button{
    border-radius: 5px;
    font-size: 1em;
    background-color: #30d773;
}


a{
  text-decoration: none !important;
  padding: 0;
}

#title_label{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: auto;
  justify-content: center;
  padding: 0;
  padding-top: 1em;
  margin-bottom: 1em;
  gap: 1em;
}

.items{
  background-color: #fff;
  border-radius: 7px;
  text-decoration: none !important;
  padding-bottom: 0.2em;
  max-width: 320px;
}

.items:hover{
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

figure{
  padding: 0;
  margin: 0;
}

.items_img{
  min-width: 10em;
  max-width: 20em;
  min-height: 10em;
  max-height: 20em;
  border-radius: 5px;
}

.items_title_EN{
  font-size: x-large;
  font-family: tahoma, sans-serif;
  margin: 1em;
  margin-top: 0;
  text-align: center;
  color: black;
}

.items_caption_EN{
  font-size: 15px;
  margin-bottom: 1em;
  color: #1c1c1c;
}



@media (max-width: 768px){
  header{
    font-size: .7rem;
  }

  .header a{
    font-size: .6rem;
  }

  main{
    font-size: .6rem;
  }

  input#search {
  font-size: .5rem;
  }

  .search-box form button {
    font-size: .5rem;
  }
}


@media (min-width: 1440px), (min-height: 886px){
  body{
    font-family: tahoma, sans-serif;
  }

  header{
    font-size: 3rem;
  }

  .header{
    align-items: center;
        display: contents;
  }

  .header a{
    font-size: 1.5rem;
    padding: .7rem 1.5rem;
    border-radius: 7px;
    font-weight: 500;
  }

  nav a{
    font-size: 1.5rem;
  }

  section #containers1 h1{
    /* font-size: 3rem; */
    text-align: center;
  }

  h1{
    font-size: 2rem;
  }

  .article-card{
    font-size: 1.5rem;
    width: 20rem;
    height: 25rem;
  }

  .article-image{
    width: 100%;
    height: 50%;
  }

  .article-title{
    font-size: 1.5rem;
  }

  .article-excerpt{
    font-size: 1.1rem;
  }

  div.title strong span{
    font-size: 2rem;

  }

  main{
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }

  footer{
    font-size: 1.5rem;
    letter-spacing: .1rem;
  }
}

@media(min-width:2500px), (min-height: 1551px){
  header{
    font-size: 4rem;
  }

  .header a{
    font-size: 2rem;
    padding: .7rem 1.5rem;
    border-radius: 7px;
    font-weight: 500;
  }
  
  nav a{
    font-size: 2.1rem;
  }

  h1{
    font-size: 2.8rem;
  }

  .article-card{
    font-size: 3rem;
        width: 50rem;
        height: 50rem;
  }

  .article-image{
        width: 100%;
    height: 60%;
  }

  .article-title{
    font-size: 3rem;
  }

  .article-excerpt{
    font-size: 2.2rem;
  }

  div.title strong span{
    font-size: 2.8rem;

  }

  main{
    font-size: 2rem;
    letter-spacing: .2rem;
  }

  footer{
    font-size: 3rem;
    letter-spacing: .2rem;
  }
}