body {  
    font-family: 'Arial', sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4;  
}  

header {  
    background: linear-gradient(to right, #1c1c1c, #333);  
    color: white;  
    padding: 20px;  
    text-align: center;  
    position: fixed;
    width: 100%; 
}  

header span { 
    font-size: 2.5em; 
    color: #ebebeb;
    margin: 0; 
    display: flex; 
    font-family: initial; 

    gap: 15px; /* فاصله بین لینک‌ها */ 
}  

nav {  
    margin: 10px 0;  
    display: flex;  
    gap: 15px; /* فاصله بین لینک‌ها */
}  

nav a {  
    color: white;  
    text-decoration: none;  /* حذف زیرخط لینک */
    margin: 0 15px;  
    transition: color 0.5s;  /* انیمیشن رنگ */ 
}  

nav a:hover {  
    color: #ffa500; /* رنگ پررنگ هنگام هاور */  
}  

main {  
    padding: 20px;  
    padding-top: 10em;
}  

.categories {  
    text-align: center;  
    margin-bottom: 30px;  
}  

.category {  
    display: inline-block;  
    background-color: #ff9800;  
    color: white;  
    padding: 10px 20px;  
    margin: 5px;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}  

.buy-button {  
    background-color: #4CAF50; /* سبز */  
    color: white;  
    border: none;  
    border-radius: 5px;  
    padding: 10px;  
    width: 100%;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}  

.buy-button:hover {  
    background-color: #45a049; /* تیره‌تر در هاور */  
}  

footer {  
    text-align: center;  
    margin-top: 20px;  
    padding: 10px;  
    background-color: #333;  
    color: white;  
}

.cart {  
    margin-top: 40px;  
    background-color: #f9f9f9;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);  
}  

#cart-items {  
    margin-bottom: 10px;  
}

.modal {  
    display: none; /* پنجره به طور پیش‌فرض پنهان است */  
    position: fixed; /* برای قرارگیری در وسط صفحه */  
    z-index: 1; /* در بالای دیگر عناصر */  
    left: 0;  
    top: 0;  
    width: 100%; /* عرض کامل صفحه */  
    height: 100%; /* ارتفاع کامل صفحه */  
    overflow: auto; /* در صورت نیاز قابلیّت اسکرول */  
    background-color: rgb(0,0,0); /* پس‌زمینه سیاه */  
    background-color: rgba(0,0,0,0.4); /* پس‌زمینه با شفافیت */  
}  

.modal-content {  
    background-color: #fefefe;  
    margin: 15% auto; /* وسط صفحه */  
    padding: 20px;  
    border: 1px solid #888;  
    width: 80%; /* عرض پنجره مودال */  
    border-radius: 5px; /* گوشه‌های گرد */  
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  
}  

.close {  
    color: #aaa; /* رنگ دکمه بستن */  
    float: right;  
    font-size: 28px;  
    font-weight: bold;  
}  

.close:hover,  
.close:focus {  
    color: black;  
    text-decoration: none;  
    cursor: pointer;  
}  

.complete-purchase {  
    background-color: #4CAF50; /* سبز */  
    color: white;  
    border: none;  
    border-radius: 5px;  
    padding: 10px;  
    margin-top: 15px;  
    cursor: pointer;  
}  

.complete-purchase:hover {  
    background-color: #45a049; /* تیره‌تر شدن در هاور */  
}

h3 {  
    margin: 10px 0;  
}  

label {  
    display: block;  
    margin: 5px 0;  
}

#message {  
    color: green;  
    margin-top: 10px;  
}  

input[type="number"] {  
    margin-top: 10px;  
    padding: 7px 15px;
    font-size: large;
    border-radius: 6px;
    color: #1c1c1c;
}

button{
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #62dd62;
}

button:hover{
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: #393939;
}

#transaction-history{
    padding: 0.5em;
    /* background-color: rgb(161, 254, 172); */
    background-color: #888;
    border-radius: 7px;
    /* border: 6px outset #84e684; */
    border: 6px outset #666;
    color: #31e531;
}

main #wallet-info{
    text-align: center;
    margin-bottom: 2em;
}

#wallet-balance{
    font-size: x-large;
    color: #45a049;
}

#wallet-dollar{
    font-size: x-large;
    color: #45a049;
}

main #wallet-info article{
    margin-bottom: 0.5em;
    background-color: #393939;
    padding: 20px;
    border-radius: 7px;
    color: #4CAF50;
    display: inline-block;
    margin-right: 1em;
}